* {
  -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
		  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
		  box-sizing: border-box;
}
body {
  margin: 0;
	font-family: 'Open Sans', sans-serif;
}
@media print {
  *,
  *:before,
  *:after {
	color: #000 !important;
	text-shadow: none !important;
	background: transparent !important;
	-webkit-box-shadow: none !important;
			box-shadow: none !important;
  }
  a,
  a:visited {
	text-decoration: underline;
		}
}
a:active,
a:hover {
  outline: 0;
}
.header{
	width: 100%;
	background-color: #333;
	padding: 10px;
	margin-bottom: 2rem;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.profile-section{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
 	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.profile-img{
	height: 35px;
	width: 35px;
	border-radius: 50%;
	background-color: #fff;
	overflow: hidden;
	margin-right: 10px;
}
.profile-img img{
	height: 35px;
	min-width: 100%;
}
.profile-name{
	color:#fff;
	font-size: 16px;
 	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center;
}
.logout
{
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	text-decoration: none !important;
	
	align-self: center !important; 
	color: #fff !important;
}
.gallary-section{
	width: 100%;
}
.gallary-row{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}
.gallary-col{
	width: calc(25% - 1px);
	padding-left: 15px;
	padding-right: 15px;
}
.gallary-img-div{
	position: relative;
	background-color: #333;
	height: 261px;
	overflow: hidden;
	border-radius: 5px;
	border:5px #333 solid;
	box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
	transition: all 0.5s;
	margin-bottom: 30px;
}
.gallary-img-div > img{
	height: 261px;
	min-width: 100%;
	display: inline-block;
	transition: all 3s;
}
.gallary-img-div .gallary-img-name{
	background-color: rgba(0,0,0,0.6);
	padding: 10px 15px;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	color:#fff;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.gallary-icon-view{
	position: absolute;
	right:0%;
	top:45%;
	height: 35px;
	width: 35px;
	background-color: rgba(31, 32, 33,0.5);
	text-align: center;
	line-height: 44px;
	border-radius: 3px;
	transition: all 0.5s;
	cursor: pointer;
	opacity: 0;
}
.gallary-icon-view:hover{
	background-color: rgba(31, 32, 33,1);
}
.gallary-img-div:hover > img{
	transform: scale(1.3);
}
.gallary-icon-view-2{
	left: 0% !important;
}
.gallary-icon-view-3{
	/*left: 55%;*/
	right: 0% !important;
}
.gallary-icon-view-4{
	left: 0%;
	right: 0 !important;
}
.gallary-icon-view > img{
	height: 20px;
	display: inline-block;
	width: auto;
}
.gallary-img-div:hover .gallary-icon-view{
	opacity: 1;
	right: 10%;
}
.gallary-img-div:hover .gallary-icon-view-2{
	opacity: 1;
	left: 30% !important;
}
.gallary-img-div:hover .gallary-icon-view-4{
	opacity: 1;
	left: 10%;
}
.gallary-img-div:hover .gallary-icon-view-3{
	opacity: 1;
	right: 30% !important;
}

.slider
{
	background: #333;
	padding: 10px;
	top:0%;
	left: 0%;
	width: 100% !important;
	height: 100% !important;
	overflow: hidden;
	position: absolute;
	display: block;
	opacity: 1;
}
.subslider
{
	background: #fff;
	height: 100%;
	width: 100%;
	overflow:hidden;
}

@media (min-width: 768px) {
  .container {
	width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
	width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
	width: 1170px;
  }
}
@media (min-width:1024px) and (max-width:1170px){
	.gallary-col{
		width: calc(33.333333% - 1px) !important;
	}
	.gallary-img-div{
		height: 292px !important;
	}
	.gallary-img-div > img{
		height: 292px !important;
	}
}
@media (min-width:767px) and (max-width:1024px){
	.gallary-col{
		width: calc(33.333333% - 1px);
	}
	.gallary-img-div{
		height: 218px;
	}
	.gallary-img-div > img{
		height: 218px;
	}
}
@media (min-width:480px) and (max-width:767px){
	.gallary-col{
		width: calc(50% - 1px);
	}
	.gallary-img-div{
		height: 345px;
	}
	.gallary-img-div > img{
		height: 345px;
	}
}
@media screen and (max-width:480px){
	.gallary-col{
		width: 100%;
	}
	.gallary-img-div{
		height: 345px;
	}
	.gallary-img-div > img{
		height: 345px;
	}
}

