body, html {
    margin: 0;    
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: 300;
    line-height: 1.5em;
    background-color: #eee;
    color: #3C4858;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.bg {
    background-image: url("../images/Blue-Bulbs.jpg");
    height: 90vh; 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100vw;
    color: #bdbdbd !important;    
    font-family: sans-serif;
    /* opacity: 0.2; */
    overflow: hidden;   
}


.loginDiv {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    width: auto;
    height: 240px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #333, -1px -1px 10px 0px #333;
    transition-duration: 1s;
}

.loginDiv:hover {    
    box-shadow: 1px 1px 10px #333, -1px -1px 10px 0px #333;
}

.loginText {
    text-align: center;
    font-size: 3em;
    text-shadow: 1px 1px 1px #333, -1px -1px 1px #333;

    color: #4867aa;
    padding: 25px 15px;
}


hr {
    width: 92%;
    border-color: #4c4747;
}

.inputText {
    background-color: transparent;
    padding: 10px;
    border: 0px solid;
    border-bottom: 2px solid #b9642a;
    color: gray;
    outline: none;
    transition-duration: 1s;
    width: 73%;
    margin: 5% 10% 0% 10%;
    font-size: 1em;
}

.inputText:hover {
    border-bottom: 2px solid #3045b5;
}

.inputText:focus {
    border-bottom: 2px solid #27b686;
}
.loginBtn {
    background: #4867aa;
    padding: 10px;
    color: white;       
    width: 73.5%;
    margin: 5% 10% 0% 10%;
    font-size: 1em;
    transition-duration: 1s;
    border: 3px solid black;    
    font-family: sans-serif;
    text-align: center;
}
.loginBtn:focus  {    
    border: 2px solid #3045b5;    
}

.loginBtn > a {
    text-decoration: none;
    color: white;
}





